{
  "layer": "top",
  "position": "top",
  "modules-left": ["battery", "custom/sep", "cpu", "custom/sep", "custom/something"],
  "modules-center": ["clock", "tray"],
  "modules-right": ["network", "custom/sep", "custom/volume"],
  "custom/sep": {
    "format": "|",
    "tooltip": false
  },
  "battery": {
    "states": {
      "warning": 20,
      "critical": 10
    },
    "format": "BAT {capacity}% {time}",
    "format-warning": "BAT {capacity}% {time}",
    "format-critical": "BAT {capacity}% {time}",
    "format-charging": "CHR {capacity}% {time}",
    "format-plugged": "AC {capacity}%",
    "tooltip": true,
    "interval": 60
  },
  "cpu": {
    "format": "CPU {usage}%",
    "tooltip": false
  },
  "custom/something": {
    "format": "{}",
    "exec": "free -hL --si | awk '{print $8}'",
    "interval": 10
  },
  "clock": {
    "format": "{:%Y-%m-%d %H:%M:%S}",
    "tooltip": false,
    "interval": 1
  },
  "network": {
    "format-disconnected": "IFDOWN",
    "format-wifi": "WIFI {ipaddr} ({signalStrength}%) {essid}",
    "format-ethernet": "ETH {ipaddr}",
    "tooltip": false
  },
  "custom/volume": {
    "format": "VOL {}",
    "exec": "sh -c 'wpctl get-volume @DEFAULT_AUDIO_SINK@ 2>/dev/null | awk \"{printf \\\"%d%%\\\", \\$2*100}\" || echo N/A'",
    "interval": 1,
    "on-click": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
    "tooltip": false
  }
}
