{
  "layer": "top",
  "position": "top",
  "modules-left": ["battery", "custom/sep", "cpu", "custom/sep", "custom/something"],
  "modules-center": ["clock", "tray"],
  "modules-right": ["network", "custom/sep", "pulseaudio"],
  "custom/sep": {
    "format": "|",
    "tooltip": false
  },
  "battery": {
    "format": "BAT {capacity}% {time}",
    "tooltip": true,
    "interval": 60
  },
  "cpu": {
    "format": "CPU {usage}%",
    "tooltip": false
  },
  "custom/something": {
    "format": "{}",
    "exec": "echo 42",
    "interval": 10
  },
  "clock": {
    "format": "{:%Y-%m-%d %H:%M:%S}",
    "tooltip": false,
    "interval": 1
  },
  "network": {
    "format-disconnected": "IFDOWN",
    "format-wifi": "WIFI {ipaddr} ({signalStrength}%) {essid}",
    "format-ethernet": "ETH {ipaddr}",
    "tooltip": false
  },
  "pulseaudio": {
    "format": "VOL {volume}%",
    "format": "MUTED",
    "on-click":"pactl set-sink-mute @DEFAULT_SINK@ toggle",
    "tooltip": false
  }
}
